.aside{
    position: fixed;    
    width: 150px;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 88px;
}
.aside-left{
    text-align: center;

    height: 100%;
    
}
.aside-left li{
  height: 50px;
  line-height: 50px;
}

.message-enter {
  opacity: 1;
  background: #276983;
  width: 0;
}
.message-enter-active {
  opacity: 1;
  background: #aaa;
  width: 150px;
  transition: all 300ms ease-out;
}
.message-enter-done{
  width: 150px;
  opacity: 1;
  background: rgb(1, 20, 36);
}
.message-exit {
  opacity: 1;
  background: rgb(208, 176, 221);
  width: 150px;
}
.message-exit-active {
  opacity: 1;
  background: rgb(119, 130, 192);
  width: 0px;
  transition: all 300ms ease-out;
}
.message-exit-done{
  opacity: 1;
  width: 0;
  background: rgb(121, 141, 182);
}