.header{
    color : #fff;
    height: 88px;
    line-height: 88px;
    width: 100%;
    background: #222;
    position: fixed;
    z-index: 1000;
}
.header-left{
    
    float: left;
    width: 88px;
    text-align: center;
    line-height: 88px;
}
.header-center{
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.header-right{
    padding: 0 10px;
    float: right;
}
.header-padrig{
    padding-right: 10px;
}