.register-center{
    margin: 50px;
}
.register-form {
    border-radius: 20px;
    border:10px solid #e5e5e5;
    width: 340px;
    margin:100px auto;
    padding: 50px;
  }
.register-form-forgot {
    float: right;
  }
.register-form-button {
    width: 100%;
  }
  .register h2{
      text-align: center;
      margin: -10px 0 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      width: 100%;
      
  }
