*{
    padding: 0;
    margin-bottom: 0;
}
.aboutreact-style li{
    list-style-type:disc
}
.aboutreact{
    padding: 15px;
    
}
.aboutreact h2{
    text-align: center;
    
}
.aboutreact p{
    text-indent: 2em;
}
.aboutreact img{
    width: 40%;
}
.aboutreact ol{
    list-style-position: inside
}
.aboutreact ol li{
    width: 100%;
    text-align: left;
}