.detail-hei{
    height:100px;
    background: #c7c0c0;
}
.detail-bor{
    border: 10px solid #fff;
    margin-right: 120px;
}
.detail-content{
    padding: 0 20px;
    width: 1200px;
    margin: 0 auto;
    margin-top:-50px;
    top: 50px;
}
.detail-cover{
    font-style: normal;
    border: 1px solid #36bfd1;
    border-radius: 30px;
    padding: 6px 20px;
    margin-right: 15px;
    display: inline-block;
}
.detail-title{
    font-size: 36px;
    margin-top: 40px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 25px;
}
.detail-red{
    color: #ff6640;
    margin: 0 18px;
    font-size: 24px;
    vertical-align: middle;
}
.detail-intro{
    font-size: 18px;
}
.detail-top{
    margin-top:20px;
}
.detail-top ul li{
    float: left;
}
.detail-one{
    height: 20px;
    margin-bottom: 10px;
}
.detail-synopsis{
    width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    width: 690px;
}
.detail-cursor{
    color: #ff6640;
    margin-left: 10px;
    cursor: pointer;
}
.left{
    float: left;
}
.detail-li{
    width: 60px;
    padding: 0 10px;
}
.detail-li img{
    width: 100%;
    border-radius: 50%;
}
.detail-li span{
    display: block;
    white-space:nowrap;
    width: 100%;
    text-overflow:ellipsis;
    overflow:hidden;
}