.about{
    padding:0 20px;
    width: 1200px;
    margin: 0 auto;
    
}
.about-theory{
    height: 422px;
}
.about-bigbox{
    width: 780px;
   height: 422px;
   overflow: hidden;
   position: relative;
   float: left;
   margin-bottom: 40px;
}
.about-bigbox>h3{
    padding: 5px 0;
    color: #333;
    font-size: 24px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background: #fff;
}
.about-action-left{
    width: 780px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-bottom: 40px;
}
.about-action-left>h3{
    padding: 5px 0;
    color: #333;
    font-size: 24px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
 
    z-index: 100;
    background: #fff;
    margin-bottom: 27px;
}

.about-action-ul li{
    float: left;
    margin-right: 12px;
    height: 140px;
}
.about-action-ul li img{
    width: 248px;
}
.about-action-ul li p{
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #e5e5e5;
    color: #808080;
}
.about-action{
    height: 300px;
    clear: both;
    overflow: hidden;
}
.about-center{
    margin: 0 auto;
}
.about ul .about-li{
    width: 780px;
    height: 112px;
    border-bottom: 1px solid #e5e5e5;
}
.about-bigbox>ul{
    animation: myfirst 20s ease 5s infinite alternate;
    transform:translate(0px 0px);
    position: absolute;
    left: 0;
    top: 49px;
}

.about-img{
    width: 58px;
    height: 58px;
    margin-top: 27px;
    float: left;
    border-radius: 57px;
}
.about-box{
    margin-left: 14px;
    text-align: left;
    margin-top: 37px;
    float: left;
    height: 42px;
    width: 700px;
    color: #808080;
    font-size: 14px;
}
.about-box h5{
    display: inline-block;
    margin: 0 10px 0 0 ;
}
.about-box span{
    margin-right: 10px;
    color: #b2b2b2;
}
.about-box i{
    color: #ff6640;
    cursor: pointer;
}
.about-box p{
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b2b2b2;
    margin: 0;
    white-space:nowrap;
}
@keyframes myfirst
{
0%   {top: -0px}
10%  {top: -185px}
40%  {top: -185px}
50% {top: -370px}
100% {top: -370px}
}
.about-rightbox{
    float: right;
    font-size: 24px;
    width: 284px;
    margin-bottom: 40px;
}
.about-rightbox>h3{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin-bottom: 0;
    color: #333;
}
.about-rightul li{
    height: 177px;
    border-bottom: 1px solid #e5e5e5;
}
.code-content{
    font-size: 14px;
    color: #808080;
    margin: 70px 0 0 12px;
    display: inline-block;
}
.action-store{
    width: 284px;
    float: right;
}
.action-store>h3{
    padding: 5px 0;
    color: #333;
    font-size: 24px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.action-store>div>p{
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #e5e5e5;
    color: #808080;
}
