*{
    padding: 0;
    margin: 0;
}
.aboutredux{
    padding: 15px;
}
.aboutredux h2{
    text-align: center;
    
}
.aboutredux p{
    text-indent: 2em;
}
.aboutredux img{
    width: 50%;
}
.aboutredux ol{
    list-style-position: inside
}
.aboutredux ol li{
    width: 100%;
    text-align: left;
}
.aboutredux-style li{
    list-style-type:disc
}