
.topics .topics-ul{
    text-align: center;
    line-height: 88px;
    background: #444;
}
.topics .topics-ul li{
    border:3px solid #fff; 
    width: 50%;
    display: inline-block;

}
.selected{
    color: yellow;
}